<button class="btn btn-primary m-2" data-target="#modal-post-news" data-toggle="modal" type="button">
  Contribute
</button>
<div aria-hidden="true"
     aria-labelledby="modal-post-news-label"
     class="modal fade"
     id="modal-post-news"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="editingForm.valid && emitPost()" [formGroup]="editingForm">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-post-news-label">Contribute a news</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="new-post-title">Title</label>
            <input [(ngModel)]="editingPost.title"
                   [class.is-invalid]="(!title.pristine || editingForm.submitted) && title.invalid"
                   aria-label="Title"
                   class="form-control"
                   formControlName="title"
                   id="new-post-title"
                   minlength="6"
                   name="new-post-title"
                   placeholder="Title"
                   required
                   type="text">
            <div *ngIf="title.invalid" class="invalid-feedback">
              <div *ngIf="title.errors.required">Title is required</div>
              <div *ngIf="title.errors.minlength">Title is too short.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="new-post-url">URL </label>
            <input [(ngModel)]="editingPost.url"
                   [class.is-invalid]="(!url.pristine || editingForm.submitted) && url.invalid"
                   aria-label="URL"
                   class="form-control"
                   formControlName="url"
                   id="new-post-url"
                   minlength="6"
                   name="new-post-url"
                   placeholder="URL"
                   required
                   type="url">
            <div *ngIf="url.invalid" class="invalid-feedback">
              <div *ngIf="url.errors.required">URL is required</div>
              <div *ngIf="url.errors.minlength">URL is too short.</div>
            </div>
          </div>
          <div class="form-group form-check">
            <input [class.is-invalid]="(!term.pristine || editingForm.submitted) && term.invalid"
                   class="form-check-input"
                   formControlName="sworn"
                   id="new-post-terms"
                   name="new-post-terms"
                   ngModel
                   required
                   type="checkbox">
            <label for="new-post-terms">I swear this is full of knowledge.</label>
            <div *ngIf="term.invalid" class="invalid-feedback">
              <div *ngIf="term.errors.required">You need to swear.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
      <hr>
    </div>
  </div>
</div>
