<form (submit)="addPost()" class="form m-2">
  <fieldset>
    <legend>New Post</legend>
    <div class="form-group">
      <label for="new-post-title">Title</label>
      <input [(ngModel)]="editingPost.title" aria-label="Title" class="form-control" id="new-post-title"
             name="new-post-title"
             placeholder="Title"
             type="text">
    </div>
    <div class="form-group">
      <label for="new-post-url">URL </label>
      <input [(ngModel)]="editingPost.url" aria-label="URL" class="form-control" id="new-post-url" name="new-post-url"
             placeholder="URL"
             type="text">
    </div>
    <div class="form-group">
      <button class="btn btn-outline-success" type="submit">Add</button>
    </div>
  </fieldset>
</form>
