<h2>Today's article</h2>
<hr>
<div>
  <fieldset>
    <legend>Preview</legend>
    <a href="{{article.url}}" target="_blank">{{article.title}}</a>
  </fieldset>
  <fieldset>
    <legend>Edit</legend>
    <table>
      <tr>
        <td>Title</td>
      </tr>
      <tr>
        <td>
          <textarea [value]="article.title" cols="70" id="article-title"></textarea>
        </td>
      </tr>
      <tr>
        <td>URL</td>
      </tr>
      <tr>
        <td>
          <textarea [value]="article.url" cols="70" id="article-url"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <input (click)="updateArticle()" type="button" value="Update">
        </td>
      </tr>
    </table>
  </fieldset>
</div>
<hr>
@CodeGym, 2019
