<h2>Today's articles</h2>
<hr>
<div>
  <fieldset>
    <legend>News</legend>
    <div *ngFor="let art of articles">
      <a href="{{art.url}}" target="_blank">{{art.title}}</a>
    </div>
  </fieldset>
  <fieldset>
    <legend>Contribute an Article</legend>
    <table>
      <tr>
        <td>Preview</td>
      </tr>
      <tr>
        <td>
          <a href="{{editingArticle.url}}" target="_blank">{{editingArticle.title}}</a>
        </td>
      </tr>
      <tr>
        <td>Title</td>
      </tr>
      <tr>
        <td>
          <textarea [(ngModel)]="editingArticle.title" cols="70"></textarea>
        </td>
      </tr>
      <tr>
        <td>URL</td>
      </tr>
      <tr>
        <td>
          <textarea [(ngModel)]="editingArticle.url" cols="70"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="addArticle()">Add</button>
        </td>
      </tr>
    </table>
  </fieldset>
</div>
<hr>
@CodeGym, 2019
